{% extends "ProyectoPrincipalBundle:Principal:basefases.html.twig" %}
{%block contenido%}
<div class="contenedor">
	{% include "ProyectoPrincipalBundle:Principal:fasesEstudio.html.twig" %}
</div>
{%endblock%}