<input type="hidden" value="{{id}}" id="idestudio" />
<div class="cuadro1">
	<div class="titulocuadro">
		<label for="name" class="letranormal"> Tiempo productivo real total:</label>
	</div>
	<div class="entradacuadro">
		<input type="text" class="entrada numero" name="nombre" value="" id="tiempoproductivorealtotal">
	</div>
</div>
<div class="cuadro1">
	<div class="titulocuadro">
		<label for="name" class="letranormal">Tiempo real total:</label>
	</div>
	<div class="entradacuadro">
		<input type="text" class="entrada numero" name="nombre" value="" id="tiemporealtotal">
	</div>
</div>
<div class="cuadro1">
	<div class="titulocuadro">
		<label for="name" class="letranormal"> Tiempo real de taladro:</label>
	</div>
	<div class="entradacuadro">
		<input type="text" class="entrada numero" name="nombre" value="" id="tiemporealdetaladro">
	</div>
</div>
<div class="cuadro1">
	<div class="titulocuadro">
		<label for="name" class="letranormal">Tiempo planificado de taladro:</label>
	</div>
	<div class="entradacuadro">
		<input type="text" class="entrada numero" name="nombre" value="" id="tiempoplanificadodetaladro">
	</div>
</div>
<div class="cuadro1">
	<div class="titulocuadro">
		<label for="name" class="letranormal"> Tiempo total de actividades ejecutadas:</label>
	</div>
	<div class="entradacuadro">
		<input type="text" class="entrada numero" name="nombre" value="" id="tiempototaldeactividadesejecutadas">
	</div>
</div>
<div class="cuadro1">
	<div class="titulocuadro">
		<label for="name" class="letranormal">Tiempo total planificado:</label>
	</div>
	<div class="entradacuadro">
		<input type="text" class="entrada numero" name="nombre" value="" id="tiempototalplanificado">
	</div>
</div>
<div class="cuadro1">
	<div class="titulocuadro">
		<label for="name" class="letranormal"> Inversi&oacute;n real por actividad:</label>
	</div>
	<div class="entradacuadro">
		<input type="text" class="entrada numero" name="nombre" value="" id="inversionrealporactividad">
	</div>
</div>
<div class="cuadro1">
	<div class="titulocuadro">
		<label for="name" class="letranormal">Inversi&oacute;n planificada por actividad:</label>
	</div>
	<div class="entradacuadro">
		<input type="text" class="entrada numero" name="nombre" value="" id="inversionplanificadaporactividad">
	</div>
</div>
<div class="cuadro1">
	<div class="titulocuadro">
		<label for="name" class="letranormal"> Inversi&oacute;n real total:</label>
	</div>
	<div class="entradacuadro">
		<input type="text" class="entrada numero" name="nombre" value="" id="inversionrealtotal">
	</div>
</div>
<div class="cuadro1">
	<div class="titulocuadro">
		<label for="name" class="letranormal">Inversi&oacute;n planificada total:</label>
	</div>
	<div class="entradacuadro">
		<input type="text" class="entrada numero" name="nombre" value="" id="inversionplanificadatotal">
	</div>
</div>
<div class="cuadro1">
	<div class="titulocuadro">
		<label for="name" class="letranormal"> Ingresos estimados proyecto:</label>
	</div>
	<div class="entradacuadro">
		<input type="text" class="entrada numero" name="nombre" value="" id="ingresosestimadosproyecto">
	</div>
</div>
<div class="cuadro1">
	<div class="titulocuadro">
		<label for="name" class="letranormal">Costos reales proyecto:</label>
	</div>
	<div class="entradacuadro">
		<input type="text" class="entrada numero" name="nombre" value="" id="costosrealesproyecto">
	</div>
</div>

<div class="cuadro1">
	<div class="titulocuadro">
		<label for="name" class="letranormal">Flujos de caja (Ejm. 20,15,40) :</label>
	</div>
	<div class="entradacuadro">
		<input type="text" class="entrada flujos" name="nombre" value="" id="flujosdecaja">
	</div>
</div>
<div class="cuadro1">
	<div class="titulocuadro">
		<label for="name" class="letranormal">Desembolso inicial de la inversi&oacute;n:</label>
	</div>
	<div class="entradacuadro">
		<input type="text" class="entrada numero" name="nombre" value="" id="desembolsoinicialdelainversion">
	</div>
</div>
<div class="cuadro1">
	<div class="titulocuadro">
		<label for="name" class="letranormal">Tipo de Interes:</label>
	</div>
	<div class="entradacuadro">
		<input type="text" class="entrada numero" name="nombre" value="" id="tipodeinteres">
	</div>
</div>
<div class="botonera">
	<a href="javascript:void(0)" class="botones cambiofase" tipo="avanzar" fase="9">Mostrar Resultado</a>
</div>